body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    background-color: #0c242c;
    color: white;
    font-family: 'Handjet', cursive;
    display: flex;
    max-height: 100vh;
    width: 100vw;
}

/*left content*/
header{
    height: 96vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 35px 0 35px;
}

img {
    border-radius: 50%;
}


h1,
.topic {
    max-width: min-content;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid white;
    animation: typing 2.5s steps(30,end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

@keyframes blink-caret {
    from, to { border-color: transparent}
    50% { border-color: white}
}

h1{
    margin-left: 28%;
}

.profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-desc{
    text-align: center;
}

.caption{ 
    font-size: 1.8rem;
}

nav{
    padding-top: 20px;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

button,
select{
    background-color: #0c242c;
    border: none;
    cursor: pointer;
    font-family: 'Handjet', cursive;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 15px;
}

.stylized-button{
    border: 1px solid white;
}

.education,
.work-exp,
.academic-exp,
.skills,
.projects {
    display: none;
}



/*right content*/
.language-box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

section{
    height: 100%;
    width: 75%;
    padding: 35px 100px;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 2rem;
}